/* Nicer top left spacing */
.wy-side-nav-search a {
    line-height: 1.5;
}

/* My sign-off */
.right {
    text-align: right;
}

/* Keep headings visible on page */
h2 {
    position: sticky;
    top: 0;
    background-color: #fff;
}
/* Bug? in safari if overflow on a parent is set */
body, html {
    overflow-x: visible;
}

/* Index page list */
.toctree-wrapper .toctree-l1 {
    border-bottom: dotted 4px #48466d;
    margin-bottom: 12px;
}

/* Hide versions menu, keep hosted/privacy permanently shown */
div.rst-versions > span.rst-current-version {
    display: none;
}
div.rst-versions > div.rst-other-versions {
    display: block;
}
div.rst-versions > div.rst-other-versions > div.injected > dl {
    display: none;
}
div.rst-versions > div.rst-other-versions > div.injected > hr {
    display: none;
}

div.document a:hover {
    text-decoration: underline;
}

#hearing-link {
    float: right;
}
#hearing-link::after {
    content: ' \29c9';
}

#hearing-meta {
    padding: 0.5em 0.5em 0;
    color: #fff;
    background-color: #48466d;
    position: fixed;
    bottom: 0em;
    right: 0em;
}
#hearing-meta > * {
    display: block;
    margin-bottom: 0.5em;
    color: #fff;
    background-color: #48466d;
}
